{% extends "base.html" %}

{% block content %}

<div class="basic">
    <h3>Задание 1</h3>
    <p>{{ task }}</p>
</div>
<div calss="main_field">
    <p>Choose language:</p>
    <form action="/task1" id="send_code" method="post">
        {% for a in langs %}<p>
        {{ a['name'] }}
        <input type="radio" name="language" value={{ a['id'] }}>
        {% endfor %}</p>
        <textarea class="code" id="Code" name="code_area" rows="30" cols="50" style="resize:none" required autocomplete="on" placeholder="//Enter your code here.">{{Code}}</textarea>
        <textarea class="code" id="rets" name="rets" rows="30" cols="50" style="resize:none" placeholder="//Your output here.">{{ rets }}</textarea><br>
        <input class="knopka" type="submit" class="send" name="send_butt" value="Send for check">
    </form>
</div>
{{ data }}
{{ res }}
{% endblock %}

<!--Examples
#include <iostream>
#include <stdio.h>
using namespace std;
int main(){
int a, b;
scanf("%d", a);
scanf("%d", b);
cout << a + b;
}
a = int(input())
b = int(input())
print(a+b)
-->